/* CSS Document */
@charset "utf-8";
*{
	margin:0; 
	padding:0px;
}
body{
	font-size:14px;
	font-family:"微软雅黑";
	color:white;
	background-color:#E3E3E5;
}
a{
	text-decoration:none;
}

.clear{
	clear:both;
}
li{
	list-style:none;
}
img{
	display:block;
	border:0px;
}

#header{
	width:1000px;
	margin:0 auto;
}
#header h1{
	font-size:24px;
	color:#664666;
	padding:5px 0 5px 15px;
	font-weight:600;
}
#header p{
	font-size:18px;
	color:#DB5E5E;
	font-weight:500;
} 
#nav{
	width:1000px;
	margin:20px auto; 
}
#nav ul li{
	width:140px;
	height:30px;
	line-height:30px;
	float:left;
	text-align:center;
	margin:0px 2px 0px 0px;
}
#nav ul li a{
	color:#506F70;
	font-size:16px;
	width:140px;
	height:30px;
	display:block;
}
#nav ul li a:hover{
	display:block;
	width:140px;
	height:30px;
	background:#829696;
	border-radius:3px;
	color:#fff;
}
#box{
	width:800px;
	height:370px;
	background-color:rgba(77,89,109,0.5);
	margin:0 auto;
	margin-top:40px;
	padding:50px;
}
#content{
	width:1000px;
	margin: 0 auto;
	overflow: hidden;
	background:#E3E3E5 url(../img/register-success.jpg)  50% top scroll no-repeat;
}
#box{
	text-align:center;
}
.p_underline{
	border-bottom:1px solid #EAE6E2;
	height:50px;
	line-height:50px;
}
img{
	position: relative;
	top:100px;
	left:345px;
}
.btn {
	width:365px;
	height:50px;
	color:white;
	background-color:#F0184D;
	margin-top:150px;
	font-size: 18px;
}

